.search {
    display: flex;
    gap: .5rem;
}

.search input {
    display: block;
    flex: 1;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--gray-700);
    background: var(--gray-500);
    color: var(--gray-100);
}

.search button[type="submit"] {
    display: flex;
    align-items: center;
    gap: .3rem;
    background: var(--blue-dark);
    border: none;
    border-radius: .5rem;
    color: var(--white);
    padding: 1rem;
    cursor: pointer;
}

.search button[type="submit"]:not(:disabled):hover {
    background: var(--blue);
}

.search button[type="submit"]:disabled {
    opacity: .7;
    cursor: not-allowed;
}

.search button[type="submit"] span{
    font-size: .875rem;
}

    